*.log
tmp/*
log/*
.DS_Store
coverage.data
coverage/*
public/system
sphinx
public/tmp
public/javascripts/cache
public/blog
public/cities
public/events
public/users
db/*.sqlite3
public/stylesheets/application.css
config/deploy.rb
config/app_config.yml
*.swp
